<!DOCTYPE html>
<html>
    <body style="background-color: #242943;color: white;">
        <h3>Heyy Sarfaraj !! You have received a message at : <br> sarfarajansari.pythonanywhere.com</h3><br>

        <div class="row justify-content-center">
            <div class="col-11 col-lg-9 col-md-10">
                <P>Name : {{msg.name}}</P>
                <p>Email : {{msg.email}}</p>
                <br>
                <p>Message:{{msg.message}}</p>
            </div>
        </div>
        
    </body>
    <style>
        @media screen and (min-width:740px){
            body{
                padding-left:10%;
                padding-right:10%;
            }
        }
        @media screen and (max-width:740px){
            body{
                padding-left:4%;
                padding-right:4%;
            }
        }
    </style>
</html>

