.list-container{
    border: 1px solid white;
    border-radius:0.5rem;
    z-index: 30;
    position: relative;
}
.list-container div{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding: 0.4rem;
    color: white;
    animation: show 800ms linear ;
}
input[type="checkbox"]{
    margin: 0 1rem;
}
.list-container div:nth-child(odd){
    background-color: rgba(15, 19, 66, 1);
}
.list-container div:nth-child(even){
    background-color: rgb(23, 179, 252);
}

@media screen and (min-width:720px){
    input[type="checkbox"]{
        margin: 0 2rem;
    }
}

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}