@keyframes fade{
    0%{
        opacity:0;
    }
    0.001%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
.alert{
    position: fixed;
    border-radius:1.5rem;
    width:calc(100% - 2rem);
    z-index: 31;
    padding:1rem;
    top: 80px;
    opacity: 1;
    animation:fade 5s linear forwards;
}
.alert.message{
    background-color:rgba(125, 172, 132, 0.918);
    color: rgb(0, 112, 0);
    border:2px solid rgb(0, 112, 0);
}
.alert.error{
    background-color:rgba(255, 226, 226, 0.89);
    color: rgb(150, 4, 4);
    border:2px solid rgb(150, 4, 4);
}
.alert.primary{
    background-color:rgba(149, 189, 216, 0.959);
    color: rgb(8, 16, 116);
    border:2px solid rgb(8, 16, 116);
}
.alert.warning{
    background-color:rgba(243, 237, 147, 0.89);
    color: rgb(255, 130, 14);
    border:2px solid rgb(255, 130, 14);
}

@media screen and (min-width:720px){
    .alert{
        margin: 0 15%;
        width:70%;
    }
}


/* spinner */
.spinner{
    position: fixed;
    top: 50vh;
    left: 50vw;
    z-index: 31;
}